@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

@define-color surface0 #313244;
@define-color surface1 #b45475a;
@define-color surface2 #585b70;

@define-color lightRed #f5c2e7;
@define-color red #f38ba8;
@define-color darkRed #eba0ac;
@define-color orange #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color aqua #94e2d5;
@define-color lightBlue #74c7ec;
@define-color blue #89b4fa;
@define-color lightPurple #b4befe;
@define-color purple #cba6f7;

@define-color fg0 #cdd6f4;
@define-color fg1 #bac2de;
@define-color fg2 #a6adc8;

@define-color grey0 #6c7086;
@define-color grey1 #7f849c;
@define-color grey2 #9399b2;
